body {
  background: linear-gradient(-45deg ,purple, cyan, black , darkcyan, red);
  background-size: 400% 400%;
  animation: gradient 18s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
    }
  25% {
    background-position: 50% 25%;
  }
  50% {
    background-position: 75% 50%;
     }
  75% {
    background-position: 25% 75%;
  }
  100% {
    background-position: 0% 25%;
  }
}